.hero {
    width: 99.2vw;
    height: calc(100vh - 130.23px);
    background-image: url("./../img/back_hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 30%;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    -webkit-mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
    mask-image: linear-gradient(to bottom, transparent 0%, black 15%, black 85%, transparent 100%);
}

.hero .hero__overlay{
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: center;
}

.hero .hero__overlay h2 {
    font-size: 8rem;
    color: #F30C0B;
    font-family: "New Rocker", system-ui;
    font-weight: 400;
    font-style: normal;
}

.hero .hero__overlay p {
    font-size: 1.6rem;
}

.hero .hero__overlay a {
    width: 150px;
    background-color: #c90303;
    font-size: 1rem;
    font-weight: 800;
    margin: 0 auto;
    padding: 0.8rem;
    border-radius: 15px;
    transition: 0.2s all; 
}

.hero .hero__overlay a:hover {
    background-color: #f44242;
    transform: translateY(-3px);
}
