.events {
    max-width: 100rem;
    width: 90%;
    margin: 100px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    text-align: center;
    padding: 4rem;

}

.events h2 {
    font-size: 3rem
}

.events .events__table {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 2px solid;
    box-shadow: 0 0 25px #F30C0B;
    border-radius: 7px;
}

.events .events__table tr th{
    padding: 0 32px 10px 32px;
    color: #F30C0B;
}

.events .events__table tr td {
    padding: 10px 20px 0 20px;
}

.events .events__table tr td button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 800;
    color: inherit;
    background-color: #F30C0B;
    transition: 0.2s all ease-in;
}

.events .events__table tr td button:hover {
    background-color: #f44242;
    transform: translateY(-3px);
}

@media screen and (max-width: 832px) {
    .events {
        flex-direction: column;
        margin: 0 auto;
    }

.events .events__table tr th {
    padding: 0 10px 10px 10px;
    color: #F30C0B;
}

.events .events__table tr td {
    padding: 10px 5px 0 10px;
}
}


